.App {
  text-align: center;
}

.poll {
  border: 2px dashed grey;
  margin: 2em;
}

.poll-data {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.avatar {
  width: 120px;
  height: 120px;
  display: block;
}
